<h1>All Authors bla List bla</h1>

<table>
  <tr>
    <th>Author[first name]</th>
    <th>Author[last name]</th>
    <th>Details</th>
  </tr>
 
  <% @authors.each do |author| %>
    <tr>
      <td><%= author.first_name %></td>
      <td><%= author.last_name %></td>
      <td><%= link_to 'Show', author_path(author) %></td>
    </tr>
  <% end %>
</table>